body {
  margin: 0;
  padding: 0;
  background: #ddd9d9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*#region 404 Page Styls */
.notfound-container {
  color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notfound-container h1 {
  margin: 10px 0;
  font-size: 250px;
}
.notfound-container p {
  font-size: 30px;
}
@media (max-width: 490px) {
  .notfound-container h1 {
    font-size: 150px;
  }
  .notfound-container p {
    font-size: 18px;
  }
}
.notfound-container button {
  background-color: #d3d3d3;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
.notfound-container button:hover {
  background-color: #000;
  color: #fff;
}
/*#endregion*/
